.chatbox {
  margin-top:10%;
  margin-left:20%;
  margin-right:20%;
  border:1px solid grey;
  border-radius:4px;
  overflow:auto;
}

.content {
  padding:1em;
}

.form-control {
  margin-bottom:1em;
}

.name {
  padding:1em;
  font-weight:bold;
}

.message-display {
  height:50vh;
  overflow-y:scroll;
}

.speech-bubble-left {
	position: relative;
	background: #9ad3e1;
  border-radius: .4em;
  padding: 0.4em 0.5em 0.4em 0.5em;
  margin: 0.5em;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #9ad3e1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.speech-bubble-right {
	position: relative;
	background: #f2a335;
  border-radius: .4em;
  padding: 0.4em 0.5em 0.4em 0.5em;
  margin: 0.5em;
  margin-right: 1.5em;
  margin-left: auto;
  margin-bottom: 1em;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #f2a335;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.msgContainer {
  display: flex;
}

.title {
  border-bottom: 1px solid grey;
  background: #9ad3e1;
}