.chatbox {
  margin-top:15%;
  /* border-left:1px solid grey;
  border-right:1px solid grey;
  border-bottom:1px solid grey; */
  border-radius:2px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.form-control {
  margin-bottom:1em;
}

.name {
  font-weight:bold;
}

.message-display {
  height:50vh;
  padding:1em;
  overflow-y:scroll;
}

.speech-bubble-left {
	position: relative;
	background: #f0eeec;
  border-radius: 0.9em 0.9em 0.9em 0.2em;
  padding: 0.4em 0.7em 0.4em 0.7em;
  margin: 0.5em;
}

.speech-bubble-right {
	position: relative;
  background: #3f51b5;
  color: white;
  border-radius: 0.9em 0.9em 0.2em 0.9em;
  padding: 0.4em 0.7em 0.4em 0.7em;
  margin: 0.5em;
  margin-left: auto;
}

.msgContainer {
  display: flex;
}

.title {
  border-bottom: 1px solid grey;
  background: #9ad3e1;
}

.text-input-row {
  padding: 1em;
  border-top: 1px solid #f2f0ee;
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: .8;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.loading span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
  /* font-size:2em; */
}

.loading span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}